.text-red{
    color: red;
}
label{
    color: darkgoldenrod;
}
button{
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 12px;
    border-bottom-left-radius: 10px;
}
body{
    background-image: url("https://unsplash.com/photos/04X1Yp9hNH8?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink") ;
}